{% extends "network/layout.html" %}

{% block body %}
<style>
.booking-container {
    border: 2px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #d3d3d3;
}

.booking-container-done {
    border: 2px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #90EE90;
}
</style>



<div class="container py-3 d-flex justify-content-between align-items-center">
    <h1><b>IPPT Bookings/Records</b></h1>
    <a href="{% url 'create' %}" class="btn btn-success">Add Record/Booking</a>
</div>

<div class="container py-2">
        {% for booking in bookings %}
            <div class="booking-container{% if booking.is_done %}-done{% endif %}">
                <h5><strong>IPPT Record</strong></h5>
                <p>Test Location: {{ booking.category }}</p>
                <p>Date & Time: {{ booking.datetime }}</p>
                <p><strong>Score: </strong>{{ booking.score }}</p>
                <a href="{% url 'edit' booking.id %}" class="btn btn-outline-success">Edit</a>
            </div>
        {% endfor %}     
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination d-flex justify-content-center">
        {% if bookings.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ bookings.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if bookings.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ bookings.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>









{% endblock %}